/* Reset and default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

/* Navbar styles */
nav {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  margin: 20px;
  justify-content: right;
  gap: 20px;
}

/* Header styles */
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(85, 65, 65, 0.368),
      rgba(0, 0, 0, 0.495)
    ),
    url(img2/shop1.jpg);
  background-size: cover;
  background-position: center;
}

/* Container styles */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
  color: black;
}

/* Other styles with relative units and media queries for responsiveness */
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 1;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

h2 {
  font-size: 2.75rem;
  margin-bottom: 3rem;
}

.header-container {
  width: 95%;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.outputcontainer img {
  width: 100%;
  border: 3px solid rgb(192, 173, 173);
  border-radius: 25px;
  box-shadow: 0 0.6rem 1.2rem rgba(115, 112, 112, 0.404);
  overflow: hidden;
  transition: all 0.4s;
}

.btn:link,
.btn:visited {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 0.625rem 1.875rem;
  border-radius: 10px;
  display: inline-block;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  .container,
  .header-container {
    width: 90%;
  }
  .btn:link,
  .btn:visited {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .container,
  .header-container {
    width: 85%;
  }
  .btn:link,
  .btn:visited {
    font-size: 0.875rem;
    padding: 0.375rem 1rem;
  }
}
