* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Rubik", sans-serif;
    color: #444;
  }

  .container {
    margin: 0 auto;
    width: 1200px;
  }

  header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;

    background-image: linear-gradient(
        rgba(112, 108, 108, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(img2/head2\ \(1\).jpg);
    background-size: cover;
    color: #fff;
  }

  nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    /* background-image: linear-gradient(to right, red, blue); */

    /* background-color: green; */
  }

  .header-container {
    width: 1200px;
    position: absolute;

    /* In relation to PARENT size */
    left: 50%;
    top: 50%;

    /* In relation to ELEMENT size */
    transform: translate(-50%, -50%);

    /* background-color: violet; */

    /* text-align: center; */
  }

  .header-container-inner {
    width: 50%;
    /* background-color: blue; */
  }

  h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
  }

  .btn:link,
  .btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
  }

  h2 {
    font-size: 44px;
    margin-bottom: 48px;
  }

  section {
    padding: 96px 0;
    background-color: #f7f7f7;
  }